<section class="card">
  <a href="/animals/{{id}}">
    <div class="card-body">
      <h3>{{name}}</h3>
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>{{age}} years old</p>
    </div>
  </a>
</section>