<section class="card">
  <a href="allanimals/{{id}}">
    <div class="card-body">
      <h3>{{name}}</h3>
      <img src="/assets/images/{{filename}}" alt="{{description}}"
        style="border: 5px inset black; width: 30vw; height: auto">
      <p>{{age}} years old</p>
    </div>
  </a>
</section>