<section class="card">
  <a href="/dogs/{{id}}">
    <header>{{name}}</header>

    <div class="card-body">
      <img src="/assets/images/{{filename}}" alt="{{description}}" style="border: 5px inset black; width: 30vw; height: auto">
      <p>{{age}} years old</p>
      <p>{{sex}}</p>
      <p>{{breed}}</p>
      <p>{{specialNeeds}}</p>
      <p>{{location}}</p>
    </div>
  </a>
</section>