<section class="card">
  <a href="/animals/{{id}}">
    <header>{{name}}</header>

    <div class="card-body">
      <img src="/assets/images/{{filename}}" alt="{{description}}">
      <p>{{age}} years old</p>
      <p>{{sex}}</p>
      <p>{{breed}}</p>
      <p>{{specialNeeds}}</p>
      <p>{{location}}</p>
    </div>
  </a>
</section>