<section class="card">
  <a href="/cats/{{id}}">
    <header>{{cat.name}}</header>

    <div class="card-body">
      <img src="/assets/images/{{cat.filename}}" alt="{{cat.description}}" style="border: 5px inset black; width: 30vw; height: auto">
      <p>{{cat.age}} years old</p>
      <p>{{cat.sex}}</p>
      <p>{{cat.breed}}</p>
      <p>{{cat.specialNeeds}}</p>
      <p>{{cat.location}}</p>
    </div>
  </a>
</section>