<section class="card">
  <a href="/dogs/{{id}}">
    <header>{{dog.name}}</header>

    <div class="card-body">
      <img src="/assets/images/{{dog.filename}}" alt="{{dog.description}}" style="border: 5px inset black; width: 30vw; height: auto">
      <p>{{dog.age}} years old</p>
      <p>{{dog.sex}}</p>
      <p>{{dog.breed}}</p>
      <p>{{dog.specialNeeds}}</p>
      <p>{{dog.location}}</p>
    </div>
  </a>
</section>