{{!-- <section class="card">
  <a href="/dog/{{id}}">
    <header>{{animal.name}}</header>

    <div class="card-body">
      <img src="/assets/images/{{animal.filename}}" alt="{{animal.description}}" style="border: 5px inset black; width: 30vw; height: auto">
      <p>Age: {{animal.age}} years old</p>
      <p>Sex: {{animal.sex}}</p>
      <p>Breed: {{animal.breed}}</p>
      <p>Special Needs:{{animal.specialNeeds}}</p>
      <p>Location: {{animal.location}}</p>
    </div>
  </a>
</section> --}}